.btn-primary {
  background-color: @blush-dark;
  border-color: @blush-dark;
  color: @white;
  font-weight: 300;
  &:hover,
  &:focus,
  &:active,
  &:active:focus {
    background-color: @blush-dark;
    border-color: @blush-dark;
    color: @black;
    fill: @black;
  }
}

.btn-instagram {
  margin-bottom: 30px;
  padding: 10px 12px;
  fill: @white;
  svg {
    display: inline-block;
    margin-left: -4px;
    margin-top: -4px;
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  .text {
    margin-left: 5px;
    text-transform: uppercase;
  }
}
