@import (inline) "../../node_modules/bootstrap/dist/css/bootstrap.min.css";

@blush-dark: #ed8c8c;
@blush: #f7c9bc;
@blush-light: #f7e2dc;

@black: #000;
@gray: #606060;
@gray-light: #ccc;
@gray-lighter: #eee;
@white: #fff;

@import "./layout";
@import "./type";
@import "./nav";
@import "./buttons";
@import "./tables";

@import "./widgets/address";
@import "./widgets/booking";
@import "./widgets/reviews";
@import "./widgets/services";
@import "./widgets/instagram";
@import "./widgets/social-media";
@import "./widgets/background-image";
