<footer>
  <div class="container">
    <div class="row">


      <div class="col-md-4">
        <h2>Address</h2>
        {{> address}}
      </div>


      <div class="col-md-4">
        <h2>Hours</h2>
        <table class="table">
          <tbody>
            <tr>
              <td>Sun</td><td>Closed</td>
            </tr>
            <tr>
              <td>Mon</td><td>Closed</td>
            </tr>
            <tr>
              <td>Tue</td><td>10:00am - 9:00pm</td>
            </tr>
            <tr>
              <td>Wed</td><td>10:00am - 9:00pm</td>
            </tr>
            <tr>
              <td>Thu</td><td>Closed</td>
            </tr>
            <tr>
              <td>Fri</td><td>10:00am - 7:00pm</td>
            </tr>
            <tr>
              <td>Sat</td><td>10:00am - 5:00pm</td>
            </tr>
          </tbody>
        </table>
      </div>


      <div class="col-md-4">
        <h2>Instagram Feed</h2>
        <div class="instagram-feed">Loading Instagram Feed...</div>
      </div>


    </div>
  </div>


  <div class="social-media-wrapper">
    <a class="social-media facebook" target="_blank" rel="noopener"
      href="https://www.facebook.com/beautyrefugesalon"></a>

    <a class="social-media yelp" target="_blank" rel="noopener"
      href="https://www.yelp.com/biz/beauty-refuge-oakbrook-terrace"></a>

    <a class="social-media instagram" target="_blank" rel="noopener"
      href="https://www.instagram.com/beauty.refuge/"></a>
  </div>
</footer>
