<a target="_blank" rel="noopener" class="btn btn-primary btn-instagram"
  href="https://www.instagram.com/beauty.refuge/">
  <span class="icon">{{> svg/instagram}}</span>
  <span class="text">Follow Beauty Refuge on Instagram</span>
</a>
