<section>
  <div class="container">
    <h2>Customer Reviews</h2>
    <div id="carousel-reviews" class="carousel slide" data-interval="false">

      <div class="carousel-inner" role="listbox">

        <div class="item active">
          <div class="reviewer">
            <p>Liz S.</p>
            <p>Bolingbrook, IL</p>
          </div>
          <blockquote>
            <p>Not only is Raquel an accomplished stylist, but also a genuine person. Her technique
              is flawless and the results speak for themselves. I rarely fully trust anyone with my
              hair, but in her chair I am at complete ease. She completely exceeds all expectations
              when it comes to new styles and beauty!!</p>
          </blockquote>
        </div>

        <div class="item">
          <div class="reviewer">
            <p>Elizabeth F.</p>
            <p>Naperville, IL</p>
          </div>
          <blockquote>
            <p>Raquel is talented at visualizing the perfect design and skilled at knowing how to
              carry that out. Not only that but she is dedicated to her work, putting in extra
              time to make sure she and her clients are satisfied. I keep her business cards on
              me because I get so many compliments on my hair.</p>
          </blockquote>
        </div>

        <div class="item">
          <div class="reviewer">
            <p>Sarah A.</p>
            <p>Romeoville, IL</p>
          </div>
          <blockquote>
            <p>Hands down the best hairdresser, or should I say, hair scientist! She goes above
              and beyond with her clients. I came to her with a huge mess, I'm talking orange hair!
              I was brunette and let my 15 year old bleach my hair and she came in and spent 6
              hours fixing it! And when she was finished, my hair looked amazing! The blonde
              looked natural. She is reasonably priced and didn't damage my hair from all the
              corrections she had to do to it!</p>
          </blockquote>
        </div>

      </div>

      <div class="text-center">
        <a href="#carousel-reviews" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a href="#carousel-reviews" role="button" data-slide="next">
          <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

    </div>
  </div>
</section>
