body {
  font-family: Lato, sans-serif;
  font-weight: 300;
}

h1, h2, h3 {
  color: #606060;
  font-family: Montserrat, sans-serif;
  font-weight: 300;
}

h1 {
  margin: 30px 0;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h2 {
  background-image: linear-gradient(to right,#f7c9bc,#fff);
  background-position: 0 36px;
  background-repeat: repeat-x;
  display: inline-block;
  font-size: 26px;
  padding: 0 20px 7px 20px;
  margin-left: -15px;
  padding-left: 15px;
}

a {
  color: #ed8c8c;
}

a:focus, a:hover {
  color: #606060;
}

.btn-primary {
  background-color: #ed8c8c;
  border-color: #ed8c8c;
  color: #fff;
}

.btn-primary:focus,
.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active {
  background-color: #ed8c8c;
  border-color: #ed8c8c;
  color: #000;
  fill: #000;
}

.table tr:first-child td {
  border-top: 0;
}
