.gallery {
  color: #fff;
  min-height: 350px;
}
.gallery .react-blueimp-thumbnails {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.gallery .react-blueimp-thumbnails a {
  display: block;
  margin: 4px;
  width: 125px;
  max-width: 100%;
}

.gallery .react-blueimp-thumbnails a img {
  display: block;
  margin: 0;
  width: 100%;
}

footer .gallery .react-blueimp-thumbnails a {
  width: calc(100% / 3 - 8px);
}

@media (min-width: 768px) and (max-width: 992px) {
  footer .gallery .react-blueimp-thumbnails a {
    width: calc(100% / 4 - 8px);
  }
}

@media (max-width: 768px) {
  .page-gallery .gallery .react-blueimp-thumbnails a {
    width: calc(100% / 3 - 8px);
  }
}
