/*
  the reactive-blueimp-gallery plugin requires this custom css to style image thumbnails :(
*/
.gallery .react-blueimp-thumbnails a {
  display: block;
  margin: 4px;
  width: 125px;
  max-width: 100%;
}
