footer .table tr > td {
  border: 0;
  padding-top: 0;
}

.social-media {
  border-top: 1px solid #f7e2dc;
  margin-top: 30px;
  padding: 20px 0;
  text-align: center;
}

.social-media a {
  background: url('./social-media-213w.png') no-repeat top left;
  display: inline-block;
  height: 23px;
  transition: all .2s ease-in-out;
}

.social-media a:hover {
  transform: translate(0, -3px);
}

.social-media a.facebook {
  background-position: 0 0;
  margin-right: 40px;
  width: 78px;
}
.social-media a.instagram {
  background-position: -88px 0;
  width: 76px;
}
.social-media a.yelp {
  background-position: -173px 0;
  margin-right: 40px;
  width: 40px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .social-media a {
    background: url('./social-media-426w.png') no-repeat top left;
    background-size: 213px 23px;
  }
}
