<div class="container">
  <div class="row">
    <div class="col-lg-9">

      <h1 class="page-title">Book Appointment</h1>

      <div id="booking-widget">
        <p>Book your appointment online now! Use this Vagaro booking widget to find an appointment
          that works for you.</p>
        <div class="loading-spinner text-center">
          <img src="/images/spinner.gif" width="32" height="32" alt="loading spinner">
          <p>Loading Vagaro booking widget</p>
        </div>
      </div>

    </div>
  </div>
</div>
