<div class="container">
  <h1 class="page-title">Contact Us</h1>

  <div class="row">

    <div class="col-md-4">
      <p>Thanks for your interest in Beauty Refuge. Please use this form to schedule an appointment,
        ask a question, or just say hi!</p>
    </div>

    <div class="col-md-8">
      {{> form}}
    </div>

  </div>

</div>
