<div class="full-bg-image-wrapper">
  <div class="full-bg-image"></div>
</div>

<div class="container">
  <blockquote class="text-right">
    <p>"People will stare. Make it worth their while."<br>
    -Harry Winston</p>
  </blockquote>
</div>

<div style="height: 100px;"></div>
