<div class="full-bg-image-wrapper">
  <div class="full-bg-image"></div>
</div>


<div class="quote">
  <div class="container">
    <blockquote class="text-right">
      <p>"People will stare. Make it worth their while."<br>
      -Harry Winston</p>
    </blockquote>
  </div>
</div>


<section id="location-widget">
  <div class="container">
    <h2>Beauty Refuge</h2>
    <p>A single chair suite, with vintage glam style and a comfortable atmosphere.</p>
    {{> address}}
  </div>
</section>


<section id="services-widget">
  <div class="container">
    <div class="row">

      <div class="col-md-3">
        <h2>Our Expertise</h2>
        <p>Beauty Refuge specializes in color, extensions, and styling. Our services include
          balayage, foil highlighting, keratin treatments, Brazilian Blowouts and more.</p>
        <a href="/services" class="read-more">Learn More
          <span class="glyphicon glyphicon-menu-right"></span></a>
      </div>

      <div class="col-md-3">
        <div class="svg-container">{{> svg/scissors-and-comb}}</div>
        <div class="content">
          <h3>Design</h3>
          <p>Haircut, Brazilian Blowout, Split-end Repair Treatment, Conditioning Treatment</p>
        </div>
      </div>

      <div class="col-md-3">
        <div class="svg-container">{{> svg/shampoo}}</div>
        <div class="content">
          <h3>Color</h3>
          <p>Color, Full Foil, Balayage, Multi-Dimensional Color, Toning, Shine Lock,
            Color Correction</p>
        </div>
      </div>

      <div class="col-md-3">
        <div class="svg-container">{{> svg/hairdryer}}</div>
        <div class="content">
          <h3>Styling</h3>
          <p>Blowout (complimentary with Color Service), Up-do, Flat Iron/Curling Iron</p>
        </div>
      </div>
    </div>
  </div>
</section>


{{> reviews}}
