<div class="full-bg-image-wrapper">
  <div class="full-bg-image"></div>
</div>

<div class="container">
  <section class="quote">
  <blockquote class="text-right">
    <p>"People will stare. Make it worth their while."<br>
    -Harry Winston</p>
  </blockquote>
  </section>

  <section id="services-widget">
    <div class="row">

      <div class="col-md-3">
        <h2>Our Expertise</h2>
        <p>Beauty Refuge specializes in custom color, hair extensions, and balayage. Other services
          include women and men's haircuts, foil highlighting, keratin treatments and
          Brazilian Blowouts.</p>
        <a href="/services" class="read-more">Learn More
          <span class="glyphicon glyphicon-menu-right"></span></a>
      </div>

      <div class="col-md-3">
        <div class="svg-container">{{> svg/scissors-and-comb}}</div>
        <div class="content">
          <h3>Design</h3>
          <p>Haircut, Brazilian Blowout, Split-end Repair Treatment, Conditioning Treatment</p>
        </div>
      </div>

      <div class="col-md-3">
        <div class="svg-container">{{> svg/shampoo}}</div>
        <div class="content">
          <h3>Color</h3>
          <p>Color, Full Foil, Balayage, Multi-Dimensional Color, Toning, Shine Lock,
            Color Correction</p>
        </div>
      </div>

      <div class="col-md-3">
        <div class="svg-container">{{> svg/hairdryer}}</div>
        <div class="content">
          <h3>Styling</h3>
          <p>Blowout (complimentary with Color Service), Up-do, Flat Iron/Curling Iron</p>
        </div>
      </div>
    </div>
  </section>

</div>


{{> reviews}}
