<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{title}}</title>
  <meta name="description" content="{{description}}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Lato:300%7CMontserrat:300,300i"
    rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous"
    rel="stylesheet">
  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/blueimp-gallery/2.25.2/css/blueimp-gallery.min.css"
    integrity="sha256-WTEmtc5r0yk8At+3/AnuA6M5KgC+pyWuq2BOAY2NbPE=" crossorigin="anonymous"
    rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
</head>
<body>
  {{> nav}}
  {{{body}}}
  {{> footer}}
  {{> ga-tracking}}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>

  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-gallery/2.25.2/js/jquery.blueimp-gallery.min.js"
    integrity="sha256-I3Q/O1901aodVjowHtgxa/YpnV+t0XsmFs0q0elWAjw="
    crossorigin="anonymous"></script>
  <script src="/js/index.js"></script>
</body>
</html>
